<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add key="conn" value="Data Source=dcm.uhcl.edu; Database=c563315fa02g3; uid=c563315fa02g3; pwd=5989040"/>
  </connectionStrings>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
